html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif
}

body {
  background-color: rgb(39, 53, 131);
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;

  height: 100vh;

  color: #ffffff;

  text-align: center;
}

#hey {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: end;

  font-style: italic;
  font-size: 6em;
  font-weight: bold;
}

#soon {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  align-self: end;

  color: #6bdd91;
}

#mean-time {
  grid-column: 2 / 3;
  grid-row: 4 / 5;

  color: #6bdd91;
}

#links {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: baseline;
  justify-self: end;

  margin: 1em;

  font-size: 2em;
}


/* temporary */
a {
  color: #6bdd91;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}